-r requirements.txt
appdirs==1.4.4
attrs==21.2.0
checksumdir==1.2.0
distlib==0.3.2
filelock==3.0.12
iniconfig==1.1.1
pluggy==0.13.1
py==1.10.0
pytest==6.2.4
six==1.16.0
toml==0.10.2
tox==3.23.1
virtualenv==20.4.7
